<div class="card border">

    <!-- panel header-->
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Contacts</h3>

        <!-- new contact button -->
        <a
        class="btn btn-success"
        [routerLink]="['/contacts/new']">
        New Contact
      </a>
      
    </div>

    <!-- Panel Body -->
    <div class="card-body">

        <app-contact-item
            *ngFor="let contact of contacts"
            [contact]="contact"
            (contactClicked)="onSelected($event)">
        </app-contact-item>

    </div>

</div>
